<div ng-controller="addRequisitionCtrl">
    <form>
        <div>
            <label>Recruiter ID</label>
            <input type="text" ng-model="recruiter">
        </div>
        <div>
            <label>Interviewer ID</label>
            <input type="text" ng-model="reqHost">
        </div>
        <div>
            <label>Guest ID</label>
            <input type="text" ng-model="reqGuest">
        </div>
        <h3>Interview Date</h3>
        <div>
            <label>Month</label>
            <input type="text" ng-model="month"> 
        </div>

        <div>
            <label>Day</label>
            <input type="text" ng-model="day">
        </div>

        <div>
            <label>Year</label>
            <input type="text" ng-model="year">
        </div>

        <div>
            <h4>Time</h4>
            <label>Hour</label>
            <select ng-model="hour">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>

            <label>Minute</label>
            <select ng-model="minute">
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>

            <label>AM/PM</label>
            <select ng-model="ampm">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
        </div>

        <div>
            <button ng-click="addRequisition()">Submit</button>
        </div>
    </form>
</div>