<center>
    <div class="LoginContainer logo">
        <img src= "/img/revature_logo_250.png" alt="Revature" height="75px"> 
    </div>

    <h1 class="RIES">RIES</h1>
    <div class="LoginContainer">
        <form class="form-revature-login" role="form" name="loginGuest">
            <div class="row">
                <label class="sr-only"></label>
                <input id="guestPin" name="guestPin" class="col-xs-12 col-md-12" type="text" placeholder="Pin" ng-model="authCtrl.guestPin" required autofocus>
            </div>
            <div class="row">
                <label class="sr-only"></label>
                <input id="guestPassword" name="guestPassword" class="col-xs-12 col-md-12" type="password" placeholder="Password" ng-model="authCtrl.guestPin" required >
            </div>
            <div class="row">
                <input class="btn-revature-login" type="submit" value="Login" ng-click="authCtrl.guestLogin()">
            </div>
        </form>
        <span ng-show="authCtrl.loginError" class="span-creds">!!! Invalid Guest Pin and/or Password!!!</span>
    </div>
</center>