<!--<div ng-controller="NavbarCtrl as nCtrl">
	<md-content class="md-padding">
		<img src="img/revature_logo_250.png" class="md-card-image">
		<md-nav-bar md-selected-nav-item="nCtrl.currentPage" aria-label="menu">
			<span flex></span>
		
			<md-nav-item md-nav-href="home" name="Home" layout-align="end end"> Home </md-nav-item>
			<md-nav-item md-nav-href="requisitions" name="requisitions" layout-align="end end"> Requisitions </md-nav-item>
			<md-nav-item md-nav-href="trainers" name="Trainers" layout-align="end end"> Trainers </md-nav-item>
		</md-nav-bar>
		
	</md-content>
</div>-->

<div ng-controller="NavbarCtrl">
    <nav class="">
        <div class="" id="">
            <a class="" ng-click="">Revature RIES</a>
            <ul class="">
                <li class="">
                    <a class="" active="" ng-click="goToHome()">Home</a>
                </li>
				<li class="">
                    <a class="" active="" ng-click="goToTrainers()">Trainers</a>
                </li>
				<li class="">
                    <a class="" active="" ng-click="goToRequisition()">Requisitions</a>
                </li>
            	<li class="">
                    <a class="" active="" ng-click="goToHost()">Host</a>
                </li>
            </ul>
        </div>
    </nav>
</div>