<!--<div ng-controller="NavbarCtrl as nCtrl">
	<md-content class="md-padding">
		<img src="img/revature_logo_250.png" class="md-card-image">
		<md-nav-bar md-selected-nav-item="nCtrl.currentPage" aria-label="menu">
			<span flex></span>
		
			<md-nav-item md-nav-href="home" name="home" layout-align="end end"> Home </md-nav-item>
			<md-nav-item md-nav-href="requisitions" name="requisitions" layout-align="end end"> Requisitions </md-nav-item>
			<md-nav-item md-nav-href="trainers" name="trainers" layout-align="end end"> Trainers </md-nav-item>
		</md-nav-bar>
		
	</md-content>
</div>-->

<div ng-controller="NavbarCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" id="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#riesNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" ng-click="goToHome()">Revature RIES</a>
            </div>
            <div class="collapse navbar-collapse" id="riesNavbar"> 
                <ul class="nav navbar-nav">
                    
                    <li>
                        <img src="img/revature_logo_250.png" alt="Revature Logo">
                    </li>
                    
                    <li><a class="" ng-click="goToHome()">Home</a></li>
                    <li><a class="" ng-click="goToTrainers()">Trainers</a></li>
                    <li><a class="" ng-click="goToRequisition()">Requisitions</a></li>
                
                </ul>
            </div> 
        </div>
    </nav>
</div>

