<div ng-controller="requisitionCtrl">
    <!--<label ng-model="interviewer">Interviewer</label>
    <input type="text" ng-model="host">-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Create Date</th>
                <th>Interview Date</th>
                <th>Host</th>
                <th>Guest</th>
                <th>Recruiter</th>
                <th>Host URL</th>
                <th>Guest URL</th>
                <th>Observer URL</th>
            </tr>
        </thead>
        <!--
        <tbody ng-repeat="re in requisitions">
            <tr>
                <td> {{ re.reqId }} </td>
                <td> {{ re.createDate }} </td>
                <td> {{ re.interviewDate }} </td>
                <td> {{ re.reqHost }} </td>
                <td> {{ re.reqGuest }} </td>
                <td> {{ re.requisitions }} </td>
                <td> {{ re.hostUrl }} </td>
                <td> {{ re.guestUrl }} </td>
                <td> {{ re.observerUrl }} </td>
            </tr>
        </tbody>-->
    </table>
</div>