.form-revature{
    max-width:360px;
    padding: 30px;
    margin: auto;
    background: red;
    color: orange;
    border: none;
    border-radius: 10px;
}

.form-revature{
    margin: 10px;
}

.form-revature input{
    border-radius: 10px;
    border-color: orangered;
}

.gRIES {
	color: #474C55;
}

.btn-revature {
	background: #F26925;
	border: none;
	color: #FFFFFF;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: right;
}