<style>
    .loginbtn{
        position: relative;
        width: 90%;
        height: 100px;
    }
    p{
        position: relative;
        top: 30%;
        font-size: 22px;
        color: slategray;
    }
</style>

<div ng-controller="loginCtrl">
    <center>
        <div class="LoginContainer logo" style="padding-top:50px">
            <img src= "/img/revature_logo_250.png" alt="Revature" height="75px">
        </div>

        <h1 class="RIES">Interview Evaluation System</h1>
        <div class="LoginContainer">

            <div class="row">
                <div class="col-md-6 col-lg-6" style="padding: 20px;">
                    <div class="loginbtn btn btn-default" ng-click="goToSalesForceLogin()"><p>Revature Employee Login</p></div></div>
                <div class="col-md-6 col-lg-6" style="padding: 20px;">
                    <div class="loginbtn btn btn-default" ng-click="goToGuestLogin()"><p>Guest Login</p></div></div>
            </div>
        </div>
    </center>
</div>