<!--<div ng-controller="NavbarCtrl as nCtrl">
	<md-content class="md-padding">
		<img src="img/revature_logo_250.png" class="md-card-image">
		<md-nav-bar md-selected-nav-item="nCtrl.currentPage" aria-label="menu">
			<span flex></span>

			<md-nav-item md-nav-href="home" name="home" layout-align="end end"> Home </md-nav-item>
			<md-nav-item md-nav-href="requisitions" name="requisitions" layout-align="end end"> Requisitions </md-nav-item>
			<md-nav-item md-nav-href="trainers" name="trainers" layout-align="end end"> Trainers </md-nav-item>
		</md-nav-bar>

	</md-content>
</div>-->
<style>
    .navbar-chevron{
        color:grey;
    }
</style>

<div ng-controller="navbarCtrl">
    <nav class="navbar navbar-inverse" style="border-radius:0px">
        <div class="container-fluid" id="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#riesNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="riesNavbar">
                <ul class="nav navbar-nav">

                    <li>
                        <a ng-click="goToHome()"><img style="height: 3.5em" src="img/revature_logo_250.png" alt="Revature Logo"></a>
                    </li>

                    <li><a class="" ng-click="goToHome()">Home</a></li>
                    <li><a class="" ng-click="goToTrainers()">Trainers</a></li>
                    <li class="dropdown"><a class="dropbtn">Requisitions <span class="glyphicon glyphicon-chevron-down navbar-chevron"></span></a>

                        <div class="dropdown-content">
                            <a class="" ng-click="goToCreateReq()">Create</a>
                            <a class="" ng-click="goToRequisition()">Upcoming</a>
                            <a class="" ng-click="goToResolvedRequisition()">Resolved</a>
                        </div>
                    </li>
                    <li class="dropdown"><a class="dropbtn">Session <span class="glyphicon glyphicon-chevron-down navbar-chevron"></span></a>

                        <div class="dropdown-content">
                            <a class="" ng-click="goToHost()">Session Host</a>
                            <a class="" ng-click="goToObserver()">Session Observer</a>
                            <!--<a class="" ng-click="goToGuest()">Session Guest</a>-->
                        </div>
                    </li>
                    <li><a class="" ng-click="logout()">Logout</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li><a><img ng-src="{{userInfo.thumbnail}}" alt="Profile Picture"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

